.contenedor {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
}

.tablero {
  display: grid;
  width: 600px;
  height: 600px;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  background-color: black;
}

.tablero div {
  background-color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 70px;
  font-weight: bolder;
}
